
.video-upload-browse{
    margin: 20px;
    width: calc(100% - 40px) !important;
    height: calc(70vh - 50px);
}

.video-upload-browse{
    border: 3px dashed #ccc;
    border-radius: 10px;
}

.video-upload-browse h6{
    margin: 10px;
    text-align: center;
}

label{
    display: block;
}
label >input[type="file"]{
    display: none;
}
