.videoplaylist  {
    margin-top: 20px;
    margin-bottom: 50px;
}
.video-player { background: #000; }
.video-player video{
    width: 100%;
    height: 100%;
    border-radius: unset;
    box-shadow: unset;
}
.btn-red{
    color: #fff !important;
    background: #c35151 !important;
}
.text-grey {
    color: #a19999 !important;
}
.btn-comment {
    float: right;
    margin-top: 5px !important;
}
@media(max-width: 600px){
    .videoplaylist{
        margin-top: 0 !important;
        padding: 0 !important;
    }
}