.wrapper {
    margin-bottom: 50px;
}

.playlist-category {
    margin: 15px auto 5px 25px;
    display: inline-block;
}

.content-pl-item{
    height: 350px;
    overflow-y:auto;
    flex-wrap: nowrap !important;
}
.playlist-item{
    padding: 10px;
    padding-left: 25px;
    cursor: pointer;
}
.playlist-item:hover{
    background: #900e0e1c;
}
.playlist-item-thumbnail {
    position: relative;
}

.pl-i-duration{
    position: absolute;
    color: #fff;
    background: #0000006b;
    padding: 2px 5px;
    font-size: 13px;
    font-weight: bolder;
    right: 5px;
    bottom: 5px;
}

.playlist-item-title {
    margin-left: 10px !important;
}

.pl-i-toolbar {margin-top: 15px;}
.pl-i-toolbar button{
    border-radius: 10px;
    background: #e9dbdb;
    color: #4f4848;
    padding: 5px 10px;
}
.pl-i-toolbar button.red{
    background: #c35151;
    color: #fff;
}

.btn-red{
    color: #fff !important;
    background: #c35151 !important;
}

.MuiTypography-body2, .MuiTypography-subtitle1 {
    color: #666 !important;
}