.category-suggestion {
    width:100%;
    position: absolute;
    margin-top: 50px !important;
    z-index: 99;
}
.category-search {
    margin-top: 5px;
    position: relative;
}
.category{
    display: inline-block;
    padding: 5px 10px;
    margin: 3px 3px 0 0;
}