.video-upload {
    width : 100%;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.video-upload .dzu-dropzone{ border: none; overflow: hidden; }
.video-upload .content-form{ text-align: center;  }
.watch-video video{
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* style={{padding: '0',maxHeight: '375px',overflowY: 'scroll'}} */

.grid-video:hover {
    background: #CCE5FF;
    cursor: pointer;
} 

.grid-video {
    border-radius: 15px;
}