.video-upload{
    padding: 15px 0;
    border: 3px dashed #ccc;
    border-radius: 5px;
    margin: 3% auto 0 auto;
    transition: all 0.8s ease;
}
.video-upload-border-none{
    border-style: none;
}
.form-browse{ display: flex; cursor: pointer; }
.form-browse [type="file"]{
    display: none;
}
.form-browse button{
    cursor: pointer;
    background: #eb5757;
    color: #fff;
    text-transform: capitalize;
    padding: 3px 5px;
}

.form-video-upload >*{
    margin-bottom: 10px !important;
}
.add-video-btn {
    background: #dc6565;
    color: #fff;
    padding: 7px 6px;
    border-radius: 5px;
    box-shadow: 0 2px 2px #ccc;
}

@media(max-width: 600px){
    .video-upload {
        margin: 3% 5px 0 5px !important;
        width: auto !important;
    }
}