.video-upload {
    width : 100%;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.video-upload .dzu-dropzone{ border: none; overflow: hidden; }
.video-upload .video-upload-content-form{ text-align: center;  }
.video-upload .video-upload-img{ width: 200px; }
.video-upload-preview{
    padding: 20px 15px;
    border: 1px solid #ccc;
}
.video-upload-preview:hover {
    border-color: #650e0e;
}
.watch-video video{
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
}

.dzu-inputLabelWithFiles{
    background: #fff;
    box-shadow: 0 2px 2px #ccc;
    color: #666;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* style={{padding: '0',maxHeight: '375px',overflowY: 'scroll'}} */

.grid-video:hover {
    background: #CCE5FF;
    cursor: pointer;
} 

.grid-video {
    border-radius: 15px;
}

@media(max-width: 600px){
    .video-upload-content-form{
        display: none;
    }

    .video-upload .video-upload-img{
        max-width: 100px;
        margin-bottom: 20px;
    }
}