.video-player >video{
  box-shadow: 2px 3px 10px 2px  rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
}
.title-video{
  margin-top: 10px !important;
}

.action-icons span{
  font-size: 14px;
}
.action-icons button {
  color: #8a8a8a;
}

.border-comment {
  margin: 10px 0 !important;
}