.wrapper-recomended{
  margin-bottom: 20px;
}

.recomended-video{
  position: relative;
}

.recomended-video img{
  border-radius: 10px;
  box-sizing: border-box;
}

.recomended-desc {
  margin-top: -30px;
  font-size: 14px;
  line-height: 10px;
}

.recomended-desc h6{
  font-size: 18px;
  margin-bottom: 8px;
  opacity: .8;
}

.recomended-desc p{
  opacity: .9;
  color: skyblue;
}

.recomended-desc span{
  opacity: .5;
  font-size: 12px;
}