.video-gallery video {
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

.video-gallery-user {
  width: 24px;
}

.video-gallery {
  border-radius: 20px;
  box-shadow: 0 2px 2px #ccc;
}

.video-gallery-title{
  margin: 3px 0;
}

.video-gallery-title a{
  color: #333;
  font-weight: 600;
}

.video-gallery-thumbnail{
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
}