.video-gallery video {
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

.video-gallery-title {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}